body{
    background-color: #CFF5E7;
    text-align: center; 
}
.business-card{
    display:inline-block;
    border: 4px #0D4C92 solid;
    margin: auto;
    background-color: #A0E4CB;
    padding-top: 10px;
    width: 23em;
    border-radius: 15px;
    padding: 10px;
   
}
img{
    height: 20em; 
    margin: 0 auto;
    border: 5px #59C1BD solid;
    border-radius: 50%;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    margin: auto;
}
#introduction{
    margin: 8px auto 0px auto;
}
#more-info{
    margin: 3px;
    text-decoration: underline solid black;
}
#div-link{
    margin: 10px auto;
}
.font-p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500px;
}
.link-me{
    padding: 5px 40px;
    border: 2px #0D4C92 solid;
    border-radius: 5px;
    background-color: #0D4C92; 
    color: white;
    text-decoration: none; 
}
#morph-box{
    position: fixed;
    z-index: -1;
    width: 70%;
    height: 450px;
    margin: 50px 15% 50px 15%;
    float: left;
    border: 7px solid #ffffff50;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    animation: morph 12s ease-in-out infinite;
}
@keyframes morph{
    0%{
        border-radius: 43% 57% 52% 48% / 44% 42% 58% 56% ;
    }
    25%{
        border-radius: 75% 25% 59% 41% / 63% 27% 73% 37% ;
    }
    50%{
        border-radius: 61% 39% 59% 41% / 46% 48% 52% 54%  ;
    }
    75%{
        border-radius: 41% 59% 29% 71% / 40% 62% 38% 60% ;
    }
    100%{
        border-radius: 43% 57% 52% 48% / 44% 42% 58% 56% ;
    }
}