body{
    background-color: #CFF5E7;
    text-align: center; 
}
.business-card{
    display:inline-block;
    border: 4px #0D4C92 solid;
    margin: auto;
    background-color: #A0E4CB;
    padding-top: 10px;
    width: 23em;
    border-radius: 15px;
    padding: 10px;
   
}
img{
    height: 20em; 
    margin: 0 auto;
    border: 5px #59C1BD solid;
    border-radius: 50%;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    margin: auto;
}
#introduction{
    margin: 8px auto 0px auto;
}
#more-info{
    margin: 3px;
    text-decoration: underline solid black;
}
#div-link{
    margin: 10px auto;
}
.font-p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500px;
}
.link-me{
    padding: 5px 40px;
    border: 2px #0D4C92 solid;
    border-radius: 5px;
    background-color: #0D4C92; 
    color: white;
    text-decoration: none; 
}
#morph-box{
    position: fixed;
    z-index: -1;
    width: 70%;
    height: 800px;
    margin: 2% 15% auto 15%;
    float: left;
    border: 7px solid #ffffff50;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(to right, #2c3e50, #4ca1af);    
    animation: morph 10s ease-in-out infinite;
}
@keyframes morph{
    0%{
        border-radius: 43% 57% 52% 48% / 44% 42% 58% 56% ;
    }
    25%{
        border-radius: 34% 66% 20% 80% / 29% 37% 63% 71% ;
    }
    50%{
        border-radius: 30% 70% 70% 30% / 30% 60% 40% 70% ;
    }
    75%{
        border-radius: 34% 66% 24% 76% / 69% 28% 72% 31%  ;
    }
    100%{
        border-radius: 43% 57% 52% 48% / 44% 42% 58% 56% ;
    }
}
#walk-cycle{
    margin: 0 auto;
    width: 125px;
    height: 318px;
    background-image: url("walkCycle3.png");
    background-repeat: no-repeat;
    background-size: 1170px;
    animation: wEffect 1s steps(8) infinite;
}
@keyframes wEffect{
    from{
        background-position: 0px;
    }to{
        background-position: -1170px;
    }
}